<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>VueJS</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="foundation.min.css" />

    <!-- <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    /> -->
  </head>
  <body>

    <div id="app1">
      <!-- ETAPE 1 BASIC initiation EVENT ect ... -->

      <!-- <input type="text" v-on:input="changeGreeting"></input>
		<p>{{ title }} - <a v-bind:href="link">Google</a></p>
		<h3 v-once>{{ title }}</h3>
		<h3>{{sayHello()}}</h3>
		<p v-html="finishedLink"></p> -->
      <!-- button -->
      <!-- <button v-on:click="incrise(2,$event)">Click me</button> -->
      <!-- <button v-on:click="counter++">counter ++</button>
		<button v-on:click="counter--"> counter -- </button>
		<button v-on:click="secondCompteur++">Click me</button> -->
      <!-- augmente le nombre de 2 dans ce boutton est appuyer avec l'attribut click -->
      <!-- <p>{{counter}} | {{secondCompteur}}</p>
		<p>{{result}}</p>
		<p>{{result()}} | {{ output }}</p> -->
      <!-- <p>{{counter >10 ? 'grather than 10' : 'small than 10'}}</p> -->
      <!-- <p v-on:mousemove="mouseMove"> Coordonnate:  X: {{x}} Y: {{y}} 
			<span v-on:mousemove.stop=""> Dead Spot </span> -->
      <!-- ceci sert a arreter la propagation -->
      <!-- </p> -->
      <!-- <input type="text" v-on:keyUp.enter="alertMe"></input> -->
      <!-- si le bouton entrer de la souri est appuyer , fait ceci -->
      <!-- <input type="text" v-model="name"></input>
		 <p>{{name}}</p> -->
      <!-- two way data binding -->
      <!-- <button @click='changeLink'>Change the link</button>
		 <a :href="link">google</a> -->

      <!-- ETAPE 2 Dinamyc style ... -->

      <!-- <div
        class="demo"
        @click="attachRed = !attachRed"
        :class="divClasses"
      ></div> -->
      <!-- si je clique su lui et que attachRed est a vrai , grace a :class change la couleur de ma div -->

      <!-- <div class="demo" :class="[color,{red:attachRed}]"></div>

	  <div class="demo" :style='{backgroundColor:color}'></div>
	  
	  <input type="text" v-model="color"></input> -->

      <!-- ETAPE 3 Condition et listes ... -->
      <!-- <p v-if="show">You can see me!</p>
      <p v-else>Now You can't see me!</p>
      <p v-show="show">Do you also see me?</p>
      <button @click="show = !show">Switch visibilities</button> -->
      <!-- les lits -->
      <!-- <ul>
        <li v-for="(ingredient,index) in ingredients" :key="ingredient">
          {{ingredient}} index: {{index}}
        </li>
      </ul>

      <button @click="addIngredient()">Add ingredient</button>
      <hr />

      <ul> -->
      <!-- <li v-for="(person,index) in persons" :key="index"> -->
      <!-- {{person.name}}} | index: {{index}} -->
      <!-- <div v-for="(value,key) in person" :key="index"> -->
      <!-- ceci sert a afficher les element sous forme de cle valeur -->
      <!-- {{ key }} : {{ value }}
          </div>
        </li>
      </ul> -->

      <!-- <span v-for="n in 10">{{n}}</span> -->
      <!-- ceci en haut sert a aire une boucle de 1 a 10 -->
      <!-- <hr /> -->
      <!-- avec le template -->
      <!-- <template v-for="(ingredient,index) in ingredients">
			<h1>{{ingredient}}</h1>
			<p>index: {{index}}</p>
		</template> -->

      <!-- ETAPE 4 Premier Projects  ... -->

      <!-- <section class="row">
        <div class="small-6 columns">
          <h1 class="text-center">YOU</h1>
          <div class="healthbar">
            <div
              class="healthbar text-center"
              style="background-color: green; margin: 0; color: white;"
              :style="{ width: playerHealth + '%'}"
            >
              {{playerHealth}}
            </div>
          </div>
        </div>
        <div class="small-6 columns">
          <h1 class="text-center">MONSTER</h1>
          <div class="healthbar">
            <div
              class="healthbar text-center"
              style="background-color: green; margin: 0; color: white;"
              :style="{ width: monsterHealth + '%'}"
            >
              {{monsterHealth}}
            </div>
          </div>
        </div>
      </section>
      <section class="row controls" v-if="!gameIsRunning">
        <div class="small-12 columns">
          <button id="start-game" @click="startGame">START NEW GAME</button>
        </div>
      </section>
      <section class="row controls" v-else>
        <div class="small-12 columns">
          <button id="attack" @click="attack">ATTACK</button>
          <button id="special-attack" @click="specialAttack">SPECIAL ATTACK</button>
          <button id="heal" @click="heal">HEAL</button>
          <button id="give-up" @click="giveUp">GIVE UP</button>
        </div>
      </section>
      <section class="row log" v-if="turns.length > 0">
        <div class="small-12 columns">
          <ul>
            <li v-for="(turn, index) in turns" :key="turn" :class="{'player-turn': turn.isPlayer==true,'monster-turn': turn.isPlayer==false}">

				{{turn.text}}

			</li>
          </ul>
        </div>
	  </section> -->
	  
 <!-- ETAPE 5 Comprendre l'instance de VueJs  ... -->

		<h1 ref="heading">  {{ title }}  </h1>
		<button v-on:click="show">Show Paragraph</button>
		<p v-if="showParagraph">This is not always visible</p>

	</div>

	<div id="app2">
		<h1>  {{ title }}  </h1>
		<button @click="changeSomething" ref="myButton">Change Something in vuejs</button>
		
	</div>

	<div id="app3">
		<h1>  {{ title }}  </h1>
		<button @click="changeTitle">Change title</button>
		<button @click="destroy">Destroy</button>
	</div>

	
	
    <script src="vue.js"></script>
    <script src="app.js"></script>
  </body>
</html>
